*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress-bar{
    height: 50px;
    padding: 5px;
    background-color: #cccccc;

    display: flex;
    border-radius: 2rem;
}

.progress-bar div{
    width: calc(var(--progress) *2%);
    background-color: hsl(calc(var(--progress) * -10), 80%, 50%);
    border-radius: 2rem;
}

.progress-bar::before{
    /* content: ""; */
    /* width: 50%; */
    /* background-color: red; */

    /* width: calc(var(--progress) * 1%); */

    /* background-color: hsl(calc(var(--progress) * 1) , 80%, 50%); */

    /* transition: width linear 2s; */
} 


